body {
    background-color: slateblue;
}

h1 {
    background-color:lavenderblush;
    color:indigo;
}

#show_sketches {
    float: right;
}

canvas {
    border: 5px solid white;
    margin-top: 50px;
    border-radius: 20px;
    animation: shadow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes shadow {
    from{
        box-shadow: 30px 30px 100px aqua;
        border:5px ridge indigo;
    } to {
        box-shadow:-30px -30px 200px floralwhite;
        border:10px double hotpink;
    }
}

p {
    padding-top: 30px;
    font-size: 25px;
    color: floralwhite;
}